@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	scroll-behavior: smooth;
}
body{
	min-height: 100vh;
	background: #1c0522;

}
.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    z-index: 99;
}

.titulo {
    color: #A5D650;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

#particles-js{
	height: 100vh;
	width: 100%;
	position: fixed;
	z-index: -1;

}



header{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	padding: 30px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 10000;
}
header .logo{
	color: #fff;
	font-weight: 700;
	text-decoration: none;
	font-size: 2em;
	text-transform: uppercase;

	
}
header ul{
	display: flex;
	justify-content: center;
	align-items: center;
}
header ul li{
	list-style: none;
	margin-left: 20px;
}
header ul li a{
	text-decoration: none;
	padding: 6px 6px;
	color: #fff;
	border-radius: 20px;
	height: 650px;
}
header ul li a:hover,
header ul li a.active
{
	background: #fff;
	color: #2b1055;

}

section{
	width: 100%;
	margin-bottom: 40px;
	
}




/* Galeria */


}
.portafolio{
    background: #0000;
}
p.centrado2{
    
    text-align: center;
}

img.edit{
    width: auto;
    height: auto;
    max-width: 75%;
    max-height: 75%;
}



    
/*Roadmap*/ 
}
.ROADMAP{
    background: #1c0522;
}
p.centrado{
    text-align: center;
}
    
    
}

.imagen-port > img{
    margin-left: 50%;
    width: 100%;
    height: 100%;
    
    
}



/* Clients */

.cards{
    display: flex;
    justify-content: space-evenly;
}

.cards .card{
    background: #1c0522;
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba( 255,255,255, 1);
}

.cards .card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;
}

.cards .card > .contenido-texto-card{
    width: 60%;
    color: #fff;
}

.cards .card > .contenido-texto-card p{
    font-weight: 300;
    padding-top: 5px;
}

/*  Our team */

.about-services{
    background: #1c0522;
    padding-bottom: 30px;
}


.servicio-cont{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.servicio-ind{
    width: 28%;
    text-align: center;
}

.servicio-ind img{
    width: 90%;
}

.servicio-ind h3{
    margin: 10px 0;
    color: #fff;
}

.servicio-ind p{
    font-weight: 300;
    text-align: justify;
    color: #fff;
}

/* footer */

footer{
    background: #1c0522;
    padding: 4px 0 3px 0;
    margin: auto;
    overflow: hidden;
    
}

.contenedor-footer{
    display: flex;
    width: 80%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 30px;
    border-bottom: 3px solid #ffff;
}

.content-foo{
    text-align: center;
}

.content-foo h4{
    color: #ffff;
    border-bottom: 3px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    color: #ccc;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #ffff;
}

@media screen and (max-width:900px){
    header{
        background-position: center;
    }

    .contenedor-sobre-nosotros{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sobre-nosotros .contenido-textos{
        width: 100%;
    }

    .edit{
        width: 100%;
    }

    /* Galeria */

    .imagen-port{
        width: 100%;

    }

    /* Clientes */

    .cards{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cards .card{
        width: 90%;
    }

    .cards .card:first-child{
        margin-bottom: 30px;
    }

    /* servicios */

    .servicio-cont{
        justify-content: center;
        flex-direction: column;
    }

    .servicio-ind{
        width: 100%;
        text-align: center;
    }

    .servicio-ind:nth-child(1), .servicio-ind:nth-child(2){
        margin-bottom: 60px;
    }

    .servicio-ind img{
        width: 90%;
    }
}

@media screen and (max-width:500px){
   

    /* ABOUT US */




    /* Galeria */

    .imagen-port{
        width: 95%;
    }

    /* Clients */

    .cards .card{
        height: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #ffff;
    }

    .cards .card img{
        width: 90px;
        height: 90px;
    }

    /* Footer */

    .contenedor-footer{
        flex-direction: column;
        border: none;
    }

    .content-foo{
        margin-bottom: 20px;
        text-align: center;
    }

    .content-foo h4{
        border: none;
        color: #1c0522;
    }

    .content-foo p{
        color: #1c0522;
        border-bottom: 0px solid #75BD13;
        padding-bottom: 20px;
    }

    .titulo-final{
        font-size: 20px;
    }



}
/**/
